DATABASE_URL=postgresql://postgres:postgres@db:5432/stingerdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stingerdb
SECRET_KEY= # generate using `python3 -c "import secrets; print(secrets.token_urlsafe(32))"`
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=johndoe@gmail.com
SMTP_PASSWORD=change_later # Get App password from your SMTP provider (e.g. Google App Password)